[submodule "QuestetraLib"]
	path = QuestetraLib
	url = https://yamamoto-q:p1490062@github.com/yamamoto-q/Questetra.git
[submodule "ReactLayoutElement"]
	path = ReactLayoutElement
	url = https://yambal:p1490062@github.com/yambal/ReactLayoutElem.git
